<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allever.stealthcamera">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.allever.stealthcamera.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.allever.stealthcamera.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.stealthcamera.activity.PictureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.stealthcamera.activity.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.stealthcamera.activity.GalleryActivity"
            android:screenOrientation="portrait"/>
        <service android:name="com.allever.stealthcamera.FloatWindowService"></service>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5af2dc43f29d9841da0001e8" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="googleplay" >
        </meta-data>
        <meta-data
            android:name="UMENG_LOCAL_VERSION"
            android:value="false" >
        </meta-data>
    </application>

</manifest>